/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Variables */

:root {
    --bg-color: hsl(204, 43%, 93%);
    --card-join-community-bg-color: hsl(0, 0%, 100%);
    --card-monthly-sub-bg-color: hsl(179, 62%, 43%);
    --card-why-us-bg-color: hsl(179, 47%, 52%);
    --h1-color: hsl(179, 62%, 43%);
    --h2-color: hsl(71, 73%, 54%);
    --h3-color: hsl(0, 0%, 100%);
    --main-text-color: hsl(218, 22%, 67%);
}

/* Custom styles */

body {
    font-family: 'Karla', sans-serif;
    min-height: 100dvh;
    background-color: var(--bg-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.card__join-community {
    background-color: var(--card-join-community-bg-color);
    padding: 1.5rem;
}

h1 {
    color: var(--h1-color);
}

h2 {
    color: var(--h2-color);
}

.card__join-community p {
    color: var(--main-text-color);
}

.card__monthly-sub {
    background-color: var(--card-monthly-sub-bg-color);
    padding: 1.5rem;
}

.card__why-us {
    background-color: var(--card-why-us-bg-color);
    padding: 1.5rem;
}

h3 {
    color: var(--h3-color);
}